.fondo{

    background-image: url(img/fondo3.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.fondo2{

    background-image: url(img/fondo4.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.barra1{
    height: 20px;
    margin-top: 35px;
    margin-left: 5px;
}

.php{
   width: 70px;
    height: 70px;
    margin-bottom: 5px;
}


footer{
    background-color: #424242;
    text-align: center;
    width: 100%;
}

.textofooter{
    color: #e0e0e0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.iconofooter{
    margin-top: 20px;
    color: #e0e0e0;
}

.iconogithub{
    margin-top: 20px;
    color: #e0e0e0;
    margin-left: 50px;
}

.footer2{
    background-color: #eeeeee;
    text-align: center;
    width: 100%;
}

.textofooter2{
    color: #00b0ff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
}

.iconofooter2{
    margin-top: 20px;
    color: #00b0ff;
}

.iconogithub2{
    margin-top: 20px;
    color: #00b0ff;
    margin-left: 50px;
}



.php2
{
    width: 100px;
     height: 100px;
 }

.css2{
        width: 70px;
         height: 70px;
         margin-bottom: 15px;
}

.c{
    background-color: #673ab7;
}

.html{
    background-color: #ff9800;
}

.css{
    background-color: #03a9f4;
}

#cont1{
    border: 2px  #64b5f6 solid;
    border-radius: 20px;
    background-color: #81d4fa;
    margin-right: 180px;
}

#cont2{
    border: 2px  #b39ddb solid;
    border-radius: 20px;
    background-color: #ede7f6;
}

.textonav{
margin-left: 10px;
}

.textonav2{
    margin-left: 15px;
    }

.card{

    height: 300px;
    width: 300px;
    

}

.margencard{

    margin-top: 150px;
}

.margindiv{

    margin-left: 180px;
}

.marginaudio{
    margin-bottom: 200px;
    padding-left: 0%;
    padding-right: 25px;
}

.colortitulo{
    color: white;
    font-size: 18px;
    text-align: center;
}

.aligntituloscar{
    text-align: center;    
}

.imagencarrusel{

    border-radius: 10px;
}

.iconos{

    width: 30px;
    height: 30px;
    margin-right: 5px;

}

.fondolist{
    background-color: #ede7f6;
}

.titulos{
    text-align: center;
    margin-top: 5px;
}

.marghobbie{
    justify-content: center;
    margin-top: 200px;
}
.tamhobbie{
    height: 490px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 15px;
}

.marginfooter{
    margin-top: 20px;
}
